nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: larger;
}

nav ul li {
  margin-right: 1rem;
  cursor: pointer;
}

.navbar{
  background-color: rgb(211, 208, 208);
  border: 2px solid black;
}
form, label {
  display: flex;
  flex-direction: column;
}

.Highlight {
  background: yellow;
}

form {
  width: 35%;
}
.container {
  background-color: powderblue;
}

.resumeContainer{
  background-color: powderblue ;
}

.footer{
  display: flex;
  align-items: left;
  justify-content: flex-start;
  margin: 10px;
  margin-top: 30px;
}

.footer{
  background: none;
}

.col-6{
  margin: 10px
}
.mr-sm-2{
  border: 10px solid white;

  border-style: groove;
  border-radius: 60px;
}
hr{
  width: 50%;
}
.h1tag{
  display: flex;
  justify-content: center;
}
.image{
  width: 50%;
  height: auto;
}
.email{

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px
}
.portfolio{
 display: flex;
 flex-direction: column;
 align-items: center;
white-space: pre;
}
.projectLinks{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.projectLinks{
  font-size: larger;
  font-weight: bold;
}
