nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin-right: 1rem;
  cursor: pointer;
}
form, label {
  display: flex;
  flex-direction: column;
}

.Highlight {
  background: yellow;
}

form {
  width: 35%;
}